.text {
    width: 95%;
    margin: 20px auto;
    text-align: center;
}

textarea{
    width: 100%;
}

p {
    text-align: right;
}

#progress {
    width: 100%;
    background-color: beige;
}

#progressBar {
    width: 0.5%;
    height: 10px;
    background-color: #4a707a;
    
    transition: 0.5s ease;
}