@import "_btn.scss";
@import "_textarea.scss";
@import "_img.scss";


body {
    background-color: #6d7f76;
}

header{
    text-align: center;
    color: #46545c;
    font-size: 42px;
}

h1 {
    // text-align: center;
    color: #46545c;
    font-size: 30px;
}

.editing {
    display: flex;
}